@media (max-width: 970px) {
    body > div {
        width: 100vw;
    }
}
@media (min-width : 971px) {
    body > div {
        width: 970px;
        left: 50%;
        margin-left: -485px;
    }
}

body > div {
    position: relative;
    height: 100%;
}

header img {
    float: left;
    height: 100px;
    margin: 5px;
}

main {
    clear: both;
    padding-top: 5px;
}

header *[itemprop=contactPoint] {
    display: inline-block;
}

main > section {
    border: 1px solid white;
    padding: 0px 5px;
}

.experience section {
    padding: 5px 10px;
    margin: 5px 0px;
}

    .experience section:nth-of-type(even) {
        background-color: #444;
    }

    .experience section:nth-of-type(odd) {
        background-color: #777;
    }

    .experience section *[itemprop=duration] {
        font-style: italic;
    }

*[itemprop=email]::before {
    content: '\1F4E7';
    padding-right: 0.5em;
    font-style: normal;
}

*[itemprop=telephone]::before {
    content: '\1F4F1';
    padding-right: 0.5em;
    font-style: normal;
}

*[itemprop=address]::before {
    content: '\1F5FA';
    padding-right: 0.5em;
    font-style: normal;
}

html {
    overflow-y: auto;
}

a:not(a[href]) {
    display: none;
}

meta[itemprop=contactType] ~ svg {
    width: 26px;
    border-radius: 3px 0 0 3px;
    background: #006097;
}

    meta[itemprop=contactType] ~ svg rect {
        fill: #FFFFFF;
        stroke-width: 0;
    }

    meta[itemprop=contactType] ~ svg g {
        fill: #006097;
    }


meta[itemprop=contactType] ~ a {
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #FFFFFF;
    background: #006097;
    color: #FFFFFF;
    padding: 4px 8px;
    margin-left: -3px;
    position: relative;
    top: -8px;
    display: inline-block;
}