@media (max-width: 970px) {
  body > div {
    width: 100vw;
  }
}
@media (min-width: 971px) {
  body > div {
    width: 970px;
    left: 50%;
    margin-left: -485px;
  }
}
body > div {
  position: relative;
  height: 100%;
}
header img {
  float: left;
  height: 100px;
  margin: 5px;
}
main {
  clear: both;
  padding-top: 5px;
}
header section[itemprop="contactPoint"] {
  float: right;
}
main > section {
  border: 1px solid #fff;
  padding: 0 5px;
}
section[itemprop="worksFor"] section {
  padding: 5px 10px;
  margin: 5px 0;
}
section[itemprop="worksFor"] section:nth-of-type(even) {
  background-color: #444;
}
section[itemprop="worksFor"] section:nth-of-type(odd) {
  background-color: #777;
}
section[itemprop="worksFor"] section div:nth-child(2) {
  font-style: italic;
}
[itemprop="email"]::before {
  content: "\1F4E7";
  padding-right: 0.5em;
  font-style: normal;
}
[itemprop="telephone"]::before {
  content: "\1F4F1";
  padding-right: 0.5em;
  font-style: normal;
}
[itemprop="address"]::before {
  content: "\1F5FA";
  padding-right: 0.5em;
  font-style: normal;
}
html {
  overflow-y: auto;
}
a[href=""] {
  display: none;
}
footer {
  padding-bottom: 10px;
  text-align: center;
}
header section[itemprop=contactPoint] github-widget {
  --width: 200px;
  --height: 30px;
}
