{
    "openapi": "3.1.0",
    "info": {
        "title": "Rest API",
        "version": "2"
    },
    "servers": [
        {
            "url": "https://api.dropinblog.com/"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "oauth2",
                "flows": {}
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/v2/blog/{blog_id}/posts": {
            "get": {
                "summary": "Lists all posts",
                "description": "Requires a **public** API key. Fetch a paginated collection of posts. By default, only posts that are published and accessible to the public will be returned.",
                "operationId": "posts-list",
                "parameters": [
                    {
                        "name": "blog_id",
                        "in": "path",
                        "description": "Your blog ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "statuses",
                        "in": "query",
                        "description": "Post status filter (draft, published, scheduled) with a comma separated list. Defaults to published.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "visibilities",
                        "in": "query",
                        "description": "Post status visibility (public, private) with a comma separated list. Defaults to public.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The current page of pagination.",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of posts to returns. Defaults to posts per page in settings.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "category_ids",
                        "in": "query",
                        "description": "Filter by specific category with a comma separated list of category IDs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_slugs",
                        "in": "query",
                        "description": "Filter by specific category with a comma separated list of category slugs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author_ids",
                        "in": "query",
                        "description": "Filter by specific author with a comma separated list of author IDs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "author_slugs",
                        "in": "query",
                        "description": "Filter by specific author with a comma separated list of author slugs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "post_ids",
                        "in": "query",
                        "description": "Filter by specific post with a comma separated list of post IDs.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "post_slugs",
                        "in": "query",
                        "description": "Filter by specific post with a comma separated list of post slugs.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"success\": true,\n    \"code\": 0,\n    \"locale\": \"en\",\n    \"message\": \"OK\",\n    \"data\": {\n        \"posts\": [\n            {\n                \"id\": 42349491,\n                \"title\": \"Welcome to DropInBlog ~ Blogging Made Easy\",\n                \"slug\": \"welcome-to-dropinblog\",\n                \"url\": \"https://dropindemo.com/blog/welcome-to-dropinblog\",\n                \"summary\": \"Congrats on Finding Us – We're Happy You're Here! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart,\",\n                \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/welcome-dib.png\",\n                \"featuredImageWebm\": null,\n                \"featuredImageMp4\": null,\n                \"publishedAt\": \"03/16/2024\",\n                \"publishedAtIso8601\": \"2024-03-16T16:44:00-05:00\",\n                \"updatedAt\": \"03/16/2024\",\n                \"updatedAtIso8601\": \"2024-03-16T16:45:06-05:00\",\n                \"keyword\": \"blogging\",\n                \"secondaryKeywords\": [\n                    \"embed a blog\",\n                    \"wordpress alternatives\",\n                    \"blog post SEO\",\n                    \"optimizing your blog\",\n                    \"blog features\"\n                ],\n                \"seoTitle\": \"Welcome to DropInBlog ~ Blogging Made Easy\",\n                \"seoDescription\": \"Built to make embedding a blog into your website fast & easy. Be up and blogging in minutes. Feature rich & SEO friendly. Javascript, PHP or JSON integration.\",\n                \"canonicalUrl\": \"\",\n                \"pinned\": 0,\n                \"readtime\": \"3 minute read\",\n                \"seo_score\": 82,\n                \"status\": \"published\",\n                \"visibility\": \"public\",\n                \"noindex\": 0,\n                \"author\": {\n                    \"id\": 217,\n                    \"name\": \"Jason\",\n                    \"slug\": \"jason\",\n                    \"photo\": \"https://dropinblog.net/34236460/authors/91ec7b998af85b554be184f7a9f62b28cec93c20.jpg\",\n                    \"bio\": \"<p><span style=\\\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\\\">Jason is a co-founder of <a href=\\\"https://dropinblog.com\\\">DropInBlog</a>, and a bit of a coding geek. He just wants to make everyone&rsquo;s time on the web a little easier, and has over 10 years of experience building technical solutions to tough problems. When he&rsquo;s not coding out a new feature for DiB, you can find him tinkering with his own projects or reading up on the latest tech stack.</span></p>\"\n                },\n                \"categories\": [\n                    {\n                        \"id\": 898924871,\n                        \"title\": \"Announcements\",\n                        \"slug\": \"announcements\"\n                    },\n                    {\n                        \"id\": 898924873,\n                        \"title\": \"Tips\",\n                        \"slug\": \"tips\"\n                    }\n                ]\n            },\n            {\n                \"id\": 42349490,\n                \"title\": \"How to Write Your First Blog Post with DropInBlog\",\n                \"slug\": \"how-to-write-your-first-seo-blogpost-with-dropinblog\",\n                \"url\": \"https://dropindemo.com/blog/how-to-write-your-first-seo-blogpost-with-dropinblog\",\n                \"summary\": \"Congratulations! You're ready to write your first blog post with DropInBlog! If you've come this far, you've already done a few things: You already know about the benefits of blogging. You already know why DropInBlog is the best blogging platform out there.\",\n                \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/first-blog-post.png\",\n                \"featuredImageWebm\": null,\n                \"featuredImageMp4\": null,\n                \"publishedAt\": \"12/17/2021\",\n                \"publishedAtIso8601\": \"2021-12-17T14:47:00-06:00\",\n                \"updatedAt\": \"02/22/2024\",\n                \"updatedAtIso8601\": \"2024-02-22T18:51:59-06:00\",\n                \"keyword\": \"write your first blog post\",\n                \"secondaryKeywords\": [],\n                \"seoTitle\": \"How to Write Your First Blog Post with DropInBlog\",\n                \"seoDescription\": \"DropInBlog is the WordPress alternative that makes it easy to get your blog up and running. Learn how to write your first blog post using our powerful platform.\",\n                \"canonicalUrl\": \"\",\n                \"pinned\": 0,\n                \"readtime\": \"3 minute read\",\n                \"seo_score\": 78,\n                \"status\": \"published\",\n                \"visibility\": \"public\",\n                \"noindex\": 0,\n                \"author\": {\n                    \"id\": 219,\n                    \"name\": \"Jesse\",\n                    \"slug\": \"jesse\",\n                    \"photo\": \"https://dropinblog.net/34236460/authors/c321458d1a8f3afdff1944ceaa79be140f685ea8.jpg\",\n                    \"bio\": \"<p><span style=\\\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\\\">DropInBlog co-founder Jesse is dedicated to making DropInBlog the world&rsquo;s go-to blogging platform. He helped create DiB because he was tired of dealing with complicated and incomplete blogging solutions. Jesse loves experimenting with new features and finding new ways to make <a href=\\\"https://dropinblog.com\\\">DropInBlog</a> even more awesome. </span></p>\"\n                },\n                \"categories\": [\n                    {\n                        \"id\": 898924873,\n                        \"title\": \"Tips\",\n                        \"slug\": \"tips\"\n                    }\n                ]\n            },\n            {\n                \"id\": 42349489,\n                \"title\": \"How to Get Better Search Engine Rankings with the DropInBlog SEO Analyzer\",\n                \"slug\": \"how-to-get-better-search-engine-rankings-with-the-dropinblog-seo-analyzer\",\n                \"url\": \"https://dropindemo.com/blog/how-to-get-better-search-engine-rankings-with-the-dropinblog-seo-analyzer\",\n                \"summary\": \"Search. Engine. Optimization. Three little words that can make or break your website or business. Do SEO right and you'll be on top of the world. Do it wrong and you may as well go live under a rock, because that's where your blog posts (and business) will\",\n                \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/SEO-ranking.png\",\n                \"featuredImageWebm\": null,\n                \"featuredImageMp4\": null,\n                \"publishedAt\": \"12/06/2021\",\n                \"publishedAtIso8601\": \"2021-12-06T15:57:00-06:00\",\n                \"updatedAt\": \"02/22/2024\",\n                \"updatedAtIso8601\": \"2024-02-22T18:52:24-06:00\",\n                \"keyword\": \"get better search engine rankings\",\n                \"secondaryKeywords\": [],\n                \"seoTitle\": \"Get better search engine rankings with DropInBlog\",\n                \"seoDescription\": \"DropInBlog is the easy-to-use Wordpress alternative that can help you get better search engine rankings. Learn more and start blogging with a free trial today!\",\n                \"canonicalUrl\": \"\",\n                \"pinned\": 0,\n                \"readtime\": \"5 minute read\",\n                \"seo_score\": 100,\n                \"status\": \"published\",\n                \"visibility\": \"public\",\n                \"noindex\": 0,\n                \"author\": null,\n                \"categories\": [\n                    {\n                        \"id\": 898924871,\n                        \"title\": \"Announcements\",\n                        \"slug\": \"announcements\"\n                    }\n                ]\n            },\n            {\n                \"id\": 42349488,\n                \"title\": \"How to Add Categories to Your Blog\",\n                \"slug\": \"how-to-add-categories-to-your-blog\",\n                \"url\": \"https://dropindemo.com/blog/how-to-add-categories-to-your-blog\",\n                \"summary\": \"Categories are important for search engine optimization and for organizing your content around themes. Website visitors will have a much easier time navigating your site if it is well organized – and when visitors have an easier time, visitors are happy!\",\n                \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/how-to-add-categories.png\",\n                \"featuredImageWebm\": null,\n                \"featuredImageMp4\": null,\n                \"publishedAt\": \"12/06/2021\",\n                \"publishedAtIso8601\": \"2021-12-06T15:57:00-06:00\",\n                \"updatedAt\": \"02/22/2024\",\n                \"updatedAtIso8601\": \"2024-02-22T18:52:10-06:00\",\n                \"keyword\": \"add categories to your blog\",\n                \"secondaryKeywords\": [],\n                \"seoTitle\": \"How to Add Categories to Your Blog\",\n                \"seoDescription\": \"Help your website visitors find the info they're looking for and encourage them to keep browsing your site by learning how to add categories to your blog.\",\n                \"canonicalUrl\": \"\",\n                \"pinned\": 0,\n                \"readtime\": \"2 minute read\",\n                \"seo_score\": 85,\n                \"status\": \"published\",\n                \"visibility\": \"public\",\n                \"noindex\": 0,\n                \"author\": {\n                    \"id\": 219,\n                    \"name\": \"Jesse\",\n                    \"slug\": \"jesse\",\n                    \"photo\": \"https://dropinblog.net/34236460/authors/c321458d1a8f3afdff1944ceaa79be140f685ea8.jpg\",\n                    \"bio\": \"<p><span style=\\\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\\\">DropInBlog co-founder Jesse is dedicated to making DropInBlog the world&rsquo;s go-to blogging platform. He helped create DiB because he was tired of dealing with complicated and incomplete blogging solutions. Jesse loves experimenting with new features and finding new ways to make <a href=\\\"https://dropinblog.com\\\">DropInBlog</a> even more awesome. </span></p>\"\n                },\n                \"categories\": [\n                    {\n                        \"id\": 898924873,\n                        \"title\": \"Tips\",\n                        \"slug\": \"tips\"\n                    }\n                ]\n            }\n        ],\n        \"pagination\": {\n            \"total\": 4,\n            \"per_page\": 10,\n            \"current_page\": 1,\n            \"last_page\": 1,\n            \"previous_page_url\": null,\n            \"next_page_url\": null\n        }\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true,
                                            "default": true
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "en"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OK"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "posts": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 42349491,
                                                                "default": 0
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Welcome to DropInBlog ~ Blogging Made Easy"
                                                            },
                                                            "slug": {
                                                                "type": "string",
                                                                "example": "welcome-to-dropinblog"
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "example": "https://dropindemo.com/blog/welcome-to-dropinblog"
                                                            },
                                                            "summary": {
                                                                "type": "string",
                                                                "example": "Congrats on Finding Us – We're Happy You're Here! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart,"
                                                            },
                                                            "featuredImage": {
                                                                "type": "string",
                                                                "example": "https://dropinblog.net/34236460/files/featured/welcome-dib.png"
                                                            },
                                                            "featuredImageWebm": {},
                                                            "featuredImageMp4": {},
                                                            "publishedAt": {
                                                                "type": "string",
                                                                "example": "03/16/2024"
                                                            },
                                                            "publishedAtIso8601": {
                                                                "type": "string",
                                                                "example": "2024-03-16T16:44:00-05:00"
                                                            },
                                                            "updatedAt": {
                                                                "type": "string",
                                                                "example": "03/16/2024"
                                                            },
                                                            "updatedAtIso8601": {
                                                                "type": "string",
                                                                "example": "2024-03-16T16:45:06-05:00"
                                                            },
                                                            "keyword": {
                                                                "type": "string",
                                                                "example": "blogging"
                                                            },
                                                            "secondaryKeywords": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "example": "embed a blog"
                                                                }
                                                            },
                                                            "seoTitle": {
                                                                "type": "string",
                                                                "example": "Welcome to DropInBlog ~ Blogging Made Easy"
                                                            },
                                                            "seoDescription": {
                                                                "type": "string",
                                                                "example": "Built to make embedding a blog into your website fast & easy. Be up and blogging in minutes. Feature rich & SEO friendly. Javascript, PHP or JSON integration."
                                                            },
                                                            "canonicalUrl": {
                                                                "type": "string",
                                                                "example": ""
                                                            },
                                                            "pinned": {
                                                                "type": "integer",
                                                                "example": 0,
                                                                "default": 0
                                                            },
                                                            "readtime": {
                                                                "type": "string",
                                                                "example": "3 minute read"
                                                            },
                                                            "seo_score": {
                                                                "type": "integer",
                                                                "example": 82,
                                                                "default": 0
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "published"
                                                            },
                                                            "visibility": {
                                                                "type": "string",
                                                                "example": "public"
                                                            },
                                                            "noindex": {
                                                                "type": "integer",
                                                                "example": 0,
                                                                "default": 0
                                                            },
                                                            "author": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 217,
                                                                        "default": 0
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Jason"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "jason"
                                                                    },
                                                                    "photo": {
                                                                        "type": "string",
                                                                        "example": "https://dropinblog.net/34236460/authors/91ec7b998af85b554be184f7a9f62b28cec93c20.jpg"
                                                                    },
                                                                    "bio": {
                                                                        "type": "string",
                                                                        "example": "<p><span style=\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\">Jason is a co-founder of <a href=\"https://dropinblog.com\">DropInBlog</a>, and a bit of a coding geek. He just wants to make everyone&rsquo;s time on the web a little easier, and has over 10 years of experience building technical solutions to tough problems. When he&rsquo;s not coding out a new feature for DiB, you can find him tinkering with his own projects or reading up on the latest tech stack.</span></p>"
                                                                    }
                                                                }
                                                            },
                                                            "categories": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "integer",
                                                                            "example": 898924871,
                                                                            "default": 0
                                                                        },
                                                                        "title": {
                                                                            "type": "string",
                                                                            "example": "Announcements"
                                                                        },
                                                                        "slug": {
                                                                            "type": "string",
                                                                            "example": "announcements"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "pagination": {
                                                    "type": "object",
                                                    "properties": {
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 4,
                                                            "default": 0
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 10,
                                                            "default": 0
                                                        },
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 1,
                                                            "default": 0
                                                        },
                                                        "previous_page_url": {},
                                                        "next_page_url": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/blog/{blog_id}/posts/{id}": {
            "get": {
                "summary": "Retrieve a post",
                "description": "Requires a **public** API key.",
                "operationId": "posts-retrieve",
                "parameters": [
                    {
                        "name": "blog_id",
                        "in": "path",
                        "description": "Your blog ID.",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The ID of your post.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n    \"success\": true,\n    \"code\": 0,\n    \"locale\": \"en\",\n    \"message\": \"OK\",\n    \"data\": {\n        \"post\": {\n            \"id\": 42349491,\n            \"title\": \"Welcome to DropInBlog ~ Blogging Made Easy\",\n            \"slug\": \"welcome-to-dropinblog\",\n            \"url\": \"https://dropindemo.com/blog/welcome-to-dropinblog\",\n            \"summary\": \"Congrats on Finding Us – We're Happy You're Here! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart,\",\n            \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/welcome-dib.png\",\n            \"featuredImageWebm\": null,\n            \"featuredImageMp4\": null,\n            \"publishedAt\": \"03/16/2024\",\n            \"publishedAtIso8601\": \"2024-03-16T16:44:00-05:00\",\n            \"updatedAt\": \"03/16/2024\",\n            \"updatedAtIso8601\": \"2024-03-16T16:45:06-05:00\",\n            \"keyword\": \"blogging\",\n            \"secondaryKeywords\": [\n                \"embed a blog\",\n                \"wordpress alternatives\",\n                \"blog post SEO\",\n                \"optimizing your blog\",\n                \"blog features\"\n            ],\n            \"seoTitle\": \"Welcome to DropInBlog ~ Blogging Made Easy\",\n            \"seoDescription\": \"Built to make embedding a blog into your website fast & easy. Be up and blogging in minutes. Feature rich & SEO friendly. Javascript, PHP or JSON integration.\",\n            \"canonicalUrl\": \"\",\n            \"pinned\": 0,\n            \"readtime\": \"3 minute read\",\n            \"seo_score\": 82,\n            \"status\": \"published\",\n            \"visibility\": \"public\",\n            \"noindex\": 0,\n            \"author\": {\n                \"id\": 217,\n                \"name\": \"Jason\",\n                \"slug\": \"jason\",\n                \"photo\": \"https://dropinblog.net/34236460/authors/91ec7b998af85b554be184f7a9f62b28cec93c20.jpg\",\n                \"bio\": \"<p><span style=\\\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\\\">Jason is a co-founder of <a href=\\\"https://dropinblog.com\\\">DropInBlog</a>, and a bit of a coding geek. He just wants to make everyone&rsquo;s time on the web a little easier, and has over 10 years of experience building technical solutions to tough problems. When he&rsquo;s not coding out a new feature for DiB, you can find him tinkering with his own projects or reading up on the latest tech stack.</span></p>\"\n            },\n            \"categories\": [\n                {\n                    \"id\": 898924871,\n                    \"title\": \"Announcements\",\n                    \"slug\": \"announcements\"\n                },\n                {\n                    \"id\": 898924873,\n                    \"title\": \"Tips\",\n                    \"slug\": \"tips\"\n                }\n            ],\n            \"content\": \"<h2>Congrats on Finding Us &ndash; We're Happy You're Here!</h2>\\r\\n<p>DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes.</p>\\r\\n<p>But because we are geeks at heart, we also want to help you boost your website's SEO and offer you loads of useful features along the way.</p>\\r\\n<p><img class=\\\"dib-img-loading\\\" loading=\\\"dib-lazy\\\" data-lazy-load=\\\"https://io.dropinblog.com/assets/img/samples/embed/blogging-made-easy.webp\\\" src=\\\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\\\" alt=\\\"DropInBlog - Blogging Made Easy\\\" width=\\\"1253\\\" height=\\\"705\\\" /></p>\\r\\n<h3>How Do I Start?</h3>\\r\\n<p>Integrating DropInBlog onto your site is easy ... just click the Code &amp; Layout tab in your admin panel and follow Steps 1 &amp; 2. <strong>That's it!</strong></p>\\r\\n<p><strong><img class=\\\"dib-img-loading\\\" loading=\\\"dib-lazy\\\" data-lazy-load=\\\"https://io.dropinblog.com/assets/img/samples/embed/dropinblog-integration-codes.jpeg\\\" src=\\\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\\\" alt=\\\"Code and Layout - Step 1 and Step 2 code example\\\" width=\\\"1253\\\" height=\\\"398\\\" /></strong><strong></strong></p>\\r\\n<p>For more detailed instructions, watch our <a href=\\\"https://vimeo.com/248082632\\\">integration video</a> ... or <a href=\\\"https://m.me/dropinblog\\\">shoot us a message</a>. We're here to help in any way we can. We love all things blog related and we want you to as well. If you run into any snags while using DropInBlog, just let us know. Your success is our success!</p>\\r\\n<h3>What's next?</h3>\\r\\n<p>Once you're rolling, there are plenty of features you can implement. You can <a href=\\\"https://dropinblog.com/blog/how-to-add-authors-to-your-blog/\\\">create authors</a> for each of your posts, organize them in <a href=\\\"https://dropinblog.com/blog/how-to-add-categories-to-your-blog/\\\">categories</a>, <a href=\\\"https://dropinblog.com/blog/how-to-get-better-search-engine-rankings-with-the-dropinblog-seo-analyzer/\\\">optimize your post's SEO</a> ... and tweak a bunch of other settings.</p>\\r\\n<p>Play around, go crazy. We understand not everyone finds blogging as enjoyable as we do, but we hope we're at least making the process simple and pain-free!</p>\\r\\n<p><img class=\\\"dib-img-loading\\\" loading=\\\"dib-lazy\\\" data-lazy-load=\\\"https://io.dropinblog.com/assets/img/samples/embed/Integration.png\\\" src=\\\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\\\" alt=\\\"\\\" width=\\\"700\\\" height=\\\"394\\\" /></p>\\r\\n<h3>And what's this about SEO?</h3>\\r\\n<p>Search engine optimization is complicated &ndash; we're not going to try and deny that. Our goal is to help walk you through it step by step. We want each blog post you write to have the best shot at making its way to the top of search results.</p>\\r\\n<p>Our SEO Analyzer guides you through the process of optimizing your posts. As you create posts you'll see your SEO score increase as each benchmark is hit. Follow the suggested tips and try to get your SEO score as close to 100 as you can. There's a surprise waiting for you if you make it. ;)</p>\\r\\n<p><img class=\\\"dib-img-loading\\\" loading=\\\"dib-lazy\\\" data-lazy-load=\\\"https://io.dropinblog.com/assets/img/samples/embed/SEO.png\\\" src=\\\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\\\" alt=\\\"\\\" width=\\\"1400\\\" height=\\\"788\\\" /></p>\\r\\n<p class=\\\"clear\\\">With these best practices in place, Google will start to take notice. This in turn means you'll start seeing an increase in your website's search ranking and ultimately more visitors to your website. Win, win, win!</p>\\r\\n<h2>Thank You!</h2>\\r\\n<p>We're thrilled you chose DropInBlog to fulfill your blogging needs. We hope we can meet all of your expectations and help you succeed on your blogging journey. So, for real, just <a href=\\\"https://m.me/dropinblog\\\">drop us a line</a> if there's <em>anything</em> we can do to assist you along the way.<br /><br />Happy blogging!</p>\",\n            \"schema_article\": \"<script type=\\\"application/ld+json\\\">\\n{\\n  \\\"@context\\\": \\\"http://schema.org\\\",\\n  \\\"@type\\\": \\\"BlogPosting\\\",\\n  \\\"mainEntityOfPage\\\": {\\n    \\\"@type\\\": \\\"WebPage\\\",\\n    \\\"@id\\\": \\\"https://dropindemo.com/blog/welcome-to-dropinblog\\\"\\n  },\\n  \\\"url\\\": \\\"https://dropindemo.com/blog/welcome-to-dropinblog\\\",\\n  \\\"headline\\\": \\\"Welcome to DropInBlog ~ Blogging Made Easy\\\",\\n  \\\"datePublished\\\": \\\"2024-03-16T16:44:00-05:00\\\",\\n  \\\"dateModified\\\": \\\"2024-03-16T16:45:06-05:00\\\",\\n    \\\"author\\\": {\\n    \\\"@type\\\": \\\"Person\\\",\\n    \\\"name\\\": \\\"Jason\\\",\\n    \\\"url\\\": \\\"https://dropindemo.com/blog/author/jason\\\"\\n  },\\n      \\\"image\\\": [\\\"https://dropinblog.net/34236460/files/featured/welcome-dib.png\\\"],\\n    \\\"wordCount\\\": \\\"415\\\",\\n  \\\"description\\\": \\\"Built to make embedding a blog into your website fast &amp; easy. Be up and blogging in minutes. Feature rich &amp; SEO friendly. Javascript, PHP or JSON integration.\\\",\\n  \\\"articleBody\\\": \\\"CONGRATS ON FINDING US – WE&#039;RE HAPPY YOU&#039;RE HERE! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart, we also want to help you boost your website&#039;s SEO and offer you loads of useful features along the way. [DropInBlog - Blogging Made Easy] HOW DO I START? Integrating DropInBlog onto your site is easy ... just click the Code &amp; Layout tab in your admin panel and follow Steps 1 &amp; 2. THAT&#039;S IT! [CODE AND LAYOUT - STEP 1 AND STEP 2 CODE EXAMPLE] For more detailed instructions, watch our integration video ... or shoot us a message. We&#039;re here to help in any way we can. We love all things blog related and we want you to as well. If you run into any snags while using DropInBlog, just let us know. Your success is our success! WHAT&#039;S NEXT? Once you&#039;re rolling, there are plenty of features you can implement. You can create authors for each of your posts, organize them in categories, optimize your post&#039;s SEO ... and tweak a bunch of other settings. Play around, go crazy. We understand not everyone finds blogging as enjoyable as we do, but we hope we&#039;re at least making the process simple and pain-free! AND WHAT&#039;S THIS ABOUT SEO? Search engine optimization is complicated – we&#039;re not going to try and deny that. Our goal is to help walk you through it step by step. We want each blog post you write to have the best shot at making its way to the top of search results. Our SEO Analyzer guides you through the process of optimizing your posts. As you create posts you&#039;ll see your SEO score increase as each benchmark is hit. Follow the suggested tips and try to get your SEO score as close to 100 as you can. There&#039;s a surprise waiting for you if you make it. ;) With these best practices in place, Google will start to take notice. This in turn means you&#039;ll start seeing an increase in your website&#039;s search ranking and ultimately more visitors to your website. Win, win, win! THANK YOU! We&#039;re thrilled you chose DropInBlog to fulfill your blogging needs. We hope we can meet all of your expectations and help you succeed on your blogging journey. So, for real, just drop us a line if there&#039;s _anything_ we can do to assist you along the way. Happy blogging! \\\"\\n}\\n</script>\",\n            \"related_posts\": [\n                {\n                    \"id\": 42349488,\n                    \"title\": \"How to Add Categories to Your Blog\",\n                    \"slug\": \"how-to-add-categories-to-your-blog\",\n                    \"url\": \"https://dropindemo.com/blog/how-to-add-categories-to-your-blog\",\n                    \"summary\": \"Categories are important for search engine optimization and for organizing your content around themes. Website visitors will have a much easier time navigating your site if it is well organized – and when visitors have an easier time, visitors are happy!\",\n                    \"featuredImage\": \"https://dropinblog.net/34236460/files/featured/how-to-add-categories.png\",\n                    \"featuredImageWebm\": null,\n                    \"featuredImageMp4\": null,\n                    \"publishedAt\": \"12/06/2021\",\n                    \"publishedAtIso8601\": \"2021-12-06T15:57:00-06:00\",\n                    \"updatedAt\": \"02/22/2024\",\n                    \"updatedAtIso8601\": \"2024-02-22T18:52:10-06:00\",\n                    \"keyword\": \"add categories to your blog\",\n                    \"secondaryKeywords\": [],\n                    \"seoTitle\": \"How to Add Categories to Your Blog\",\n                    \"seoDescription\": \"Help your website visitors find the info they're looking for and encourage them to keep browsing your site by learning how to add categories to your blog.\",\n                    \"canonicalUrl\": \"\",\n                    \"pinned\": 0,\n                    \"readtime\": \"2 minute read\",\n                    \"seo_score\": 85,\n                    \"status\": \"published\",\n                    \"visibility\": \"public\",\n                    \"noindex\": 0,\n                    \"author\": {\n                        \"id\": 219,\n                        \"name\": \"Jesse\",\n                        \"slug\": \"jesse\",\n                        \"photo\": \"https://dropinblog.net/34236460/authors/c321458d1a8f3afdff1944ceaa79be140f685ea8.jpg\",\n                        \"bio\": \"<p><span style=\\\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\\\">DropInBlog co-founder Jesse is dedicated to making DropInBlog the world&rsquo;s go-to blogging platform. He helped create DiB because he was tired of dealing with complicated and incomplete blogging solutions. Jesse loves experimenting with new features and finding new ways to make <a href=\\\"https://dropinblog.com\\\">DropInBlog</a> even more awesome. </span></p>\"\n                    },\n                    \"categories\": [\n                        {\n                            \"id\": 898924873,\n                            \"title\": \"Tips\",\n                            \"slug\": \"tips\"\n                        }\n                    ]\n                }\n            ]\n        }\n    }\n}"
                                    }
                                },
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true,
                                            "default": true
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 0,
                                            "default": 0
                                        },
                                        "locale": {
                                            "type": "string",
                                            "example": "en"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "OK"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "post": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 42349491,
                                                            "default": 0
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Welcome to DropInBlog ~ Blogging Made Easy"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "welcome-to-dropinblog"
                                                        },
                                                        "url": {
                                                            "type": "string",
                                                            "example": "https://dropindemo.com/blog/welcome-to-dropinblog"
                                                        },
                                                        "summary": {
                                                            "type": "string",
                                                            "example": "Congrats on Finding Us – We're Happy You're Here! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart,"
                                                        },
                                                        "featuredImage": {
                                                            "type": "string",
                                                            "example": "https://dropinblog.net/34236460/files/featured/welcome-dib.png"
                                                        },
                                                        "featuredImageWebm": {},
                                                        "featuredImageMp4": {},
                                                        "publishedAt": {
                                                            "type": "string",
                                                            "example": "03/16/2024"
                                                        },
                                                        "publishedAtIso8601": {
                                                            "type": "string",
                                                            "example": "2024-03-16T16:44:00-05:00"
                                                        },
                                                        "updatedAt": {
                                                            "type": "string",
                                                            "example": "03/16/2024"
                                                        },
                                                        "updatedAtIso8601": {
                                                            "type": "string",
                                                            "example": "2024-03-16T16:45:06-05:00"
                                                        },
                                                        "keyword": {
                                                            "type": "string",
                                                            "example": "blogging"
                                                        },
                                                        "secondaryKeywords": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "embed a blog"
                                                            }
                                                        },
                                                        "seoTitle": {
                                                            "type": "string",
                                                            "example": "Welcome to DropInBlog ~ Blogging Made Easy"
                                                        },
                                                        "seoDescription": {
                                                            "type": "string",
                                                            "example": "Built to make embedding a blog into your website fast & easy. Be up and blogging in minutes. Feature rich & SEO friendly. Javascript, PHP or JSON integration."
                                                        },
                                                        "canonicalUrl": {
                                                            "type": "string",
                                                            "example": ""
                                                        },
                                                        "pinned": {
                                                            "type": "integer",
                                                            "example": 0,
                                                            "default": 0
                                                        },
                                                        "readtime": {
                                                            "type": "string",
                                                            "example": "3 minute read"
                                                        },
                                                        "seo_score": {
                                                            "type": "integer",
                                                            "example": 82,
                                                            "default": 0
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "published"
                                                        },
                                                        "visibility": {
                                                            "type": "string",
                                                            "example": "public"
                                                        },
                                                        "noindex": {
                                                            "type": "integer",
                                                            "example": 0,
                                                            "default": 0
                                                        },
                                                        "author": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 217,
                                                                    "default": 0
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Jason"
                                                                },
                                                                "slug": {
                                                                    "type": "string",
                                                                    "example": "jason"
                                                                },
                                                                "photo": {
                                                                    "type": "string",
                                                                    "example": "https://dropinblog.net/34236460/authors/91ec7b998af85b554be184f7a9f62b28cec93c20.jpg"
                                                                },
                                                                "bio": {
                                                                    "type": "string",
                                                                    "example": "<p><span style=\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\">Jason is a co-founder of <a href=\"https://dropinblog.com\">DropInBlog</a>, and a bit of a coding geek. He just wants to make everyone&rsquo;s time on the web a little easier, and has over 10 years of experience building technical solutions to tough problems. When he&rsquo;s not coding out a new feature for DiB, you can find him tinkering with his own projects or reading up on the latest tech stack.</span></p>"
                                                                }
                                                            }
                                                        },
                                                        "categories": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 898924871,
                                                                        "default": 0
                                                                    },
                                                                    "title": {
                                                                        "type": "string",
                                                                        "example": "Announcements"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "announcements"
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "content": {
                                                            "type": "string",
                                                            "example": "<h2>Congrats on Finding Us &ndash; We're Happy You're Here!</h2>\r\n<p>DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes.</p>\r\n<p>But because we are geeks at heart, we also want to help you boost your website's SEO and offer you loads of useful features along the way.</p>\r\n<p><img class=\"dib-img-loading\" loading=\"dib-lazy\" data-lazy-load=\"https://io.dropinblog.com/assets/img/samples/embed/blogging-made-easy.webp\" src=\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\" alt=\"DropInBlog - Blogging Made Easy\" width=\"1253\" height=\"705\" /></p>\r\n<h3>How Do I Start?</h3>\r\n<p>Integrating DropInBlog onto your site is easy ... just click the Code &amp; Layout tab in your admin panel and follow Steps 1 &amp; 2. <strong>That's it!</strong></p>\r\n<p><strong><img class=\"dib-img-loading\" loading=\"dib-lazy\" data-lazy-load=\"https://io.dropinblog.com/assets/img/samples/embed/dropinblog-integration-codes.jpeg\" src=\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\" alt=\"Code and Layout - Step 1 and Step 2 code example\" width=\"1253\" height=\"398\" /></strong><strong></strong></p>\r\n<p>For more detailed instructions, watch our <a href=\"https://vimeo.com/248082632\">integration video</a> ... or <a href=\"https://m.me/dropinblog\">shoot us a message</a>. We're here to help in any way we can. We love all things blog related and we want you to as well. If you run into any snags while using DropInBlog, just let us know. Your success is our success!</p>\r\n<h3>What's next?</h3>\r\n<p>Once you're rolling, there are plenty of features you can implement. You can <a href=\"https://dropinblog.com/blog/how-to-add-authors-to-your-blog/\">create authors</a> for each of your posts, organize them in <a href=\"https://dropinblog.com/blog/how-to-add-categories-to-your-blog/\">categories</a>, <a href=\"https://dropinblog.com/blog/how-to-get-better-search-engine-rankings-with-the-dropinblog-seo-analyzer/\">optimize your post's SEO</a> ... and tweak a bunch of other settings.</p>\r\n<p>Play around, go crazy. We understand not everyone finds blogging as enjoyable as we do, but we hope we're at least making the process simple and pain-free!</p>\r\n<p><img class=\"dib-img-loading\" loading=\"dib-lazy\" data-lazy-load=\"https://io.dropinblog.com/assets/img/samples/embed/Integration.png\" src=\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\" alt=\"\" width=\"700\" height=\"394\" /></p>\r\n<h3>And what's this about SEO?</h3>\r\n<p>Search engine optimization is complicated &ndash; we're not going to try and deny that. Our goal is to help walk you through it step by step. We want each blog post you write to have the best shot at making its way to the top of search results.</p>\r\n<p>Our SEO Analyzer guides you through the process of optimizing your posts. As you create posts you'll see your SEO score increase as each benchmark is hit. Follow the suggested tips and try to get your SEO score as close to 100 as you can. There's a surprise waiting for you if you make it. ;)</p>\r\n<p><img class=\"dib-img-loading\" loading=\"dib-lazy\" data-lazy-load=\"https://io.dropinblog.com/assets/img/samples/embed/SEO.png\" src=\"data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20WIDTH%20HEIGHT'%3E%3C/svg%3E\" alt=\"\" width=\"1400\" height=\"788\" /></p>\r\n<p class=\"clear\">With these best practices in place, Google will start to take notice. This in turn means you'll start seeing an increase in your website's search ranking and ultimately more visitors to your website. Win, win, win!</p>\r\n<h2>Thank You!</h2>\r\n<p>We're thrilled you chose DropInBlog to fulfill your blogging needs. We hope we can meet all of your expectations and help you succeed on your blogging journey. So, for real, just <a href=\"https://m.me/dropinblog\">drop us a line</a> if there's <em>anything</em> we can do to assist you along the way.<br /><br />Happy blogging!</p>"
                                                        },
                                                        "schema_article": {
                                                            "type": "string",
                                                            "example": "<script type=\"application/ld+json\">\n{\n  \"@context\": \"http://schema.org\",\n  \"@type\": \"BlogPosting\",\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://dropindemo.com/blog/welcome-to-dropinblog\"\n  },\n  \"url\": \"https://dropindemo.com/blog/welcome-to-dropinblog\",\n  \"headline\": \"Welcome to DropInBlog ~ Blogging Made Easy\",\n  \"datePublished\": \"2024-03-16T16:44:00-05:00\",\n  \"dateModified\": \"2024-03-16T16:45:06-05:00\",\n    \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"Jason\",\n    \"url\": \"https://dropindemo.com/blog/author/jason\"\n  },\n      \"image\": [\"https://dropinblog.net/34236460/files/featured/welcome-dib.png\"],\n    \"wordCount\": \"415\",\n  \"description\": \"Built to make embedding a blog into your website fast &amp; easy. Be up and blogging in minutes. Feature rich &amp; SEO friendly. Javascript, PHP or JSON integration.\",\n  \"articleBody\": \"CONGRATS ON FINDING US – WE&#039;RE HAPPY YOU&#039;RE HERE! DropInBlog aims to be the simplest blogging solution for existing websites. Our primary goal is to help you get a stylish blog up and running on your site in minutes. But because we are geeks at heart, we also want to help you boost your website&#039;s SEO and offer you loads of useful features along the way. [DropInBlog - Blogging Made Easy] HOW DO I START? Integrating DropInBlog onto your site is easy ... just click the Code &amp; Layout tab in your admin panel and follow Steps 1 &amp; 2. THAT&#039;S IT! [CODE AND LAYOUT - STEP 1 AND STEP 2 CODE EXAMPLE] For more detailed instructions, watch our integration video ... or shoot us a message. We&#039;re here to help in any way we can. We love all things blog related and we want you to as well. If you run into any snags while using DropInBlog, just let us know. Your success is our success! WHAT&#039;S NEXT? Once you&#039;re rolling, there are plenty of features you can implement. You can create authors for each of your posts, organize them in categories, optimize your post&#039;s SEO ... and tweak a bunch of other settings. Play around, go crazy. We understand not everyone finds blogging as enjoyable as we do, but we hope we&#039;re at least making the process simple and pain-free! AND WHAT&#039;S THIS ABOUT SEO? Search engine optimization is complicated – we&#039;re not going to try and deny that. Our goal is to help walk you through it step by step. We want each blog post you write to have the best shot at making its way to the top of search results. Our SEO Analyzer guides you through the process of optimizing your posts. As you create posts you&#039;ll see your SEO score increase as each benchmark is hit. Follow the suggested tips and try to get your SEO score as close to 100 as you can. There&#039;s a surprise waiting for you if you make it. ;) With these best practices in place, Google will start to take notice. This in turn means you&#039;ll start seeing an increase in your website&#039;s search ranking and ultimately more visitors to your website. Win, win, win! THANK YOU! We&#039;re thrilled you chose DropInBlog to fulfill your blogging needs. We hope we can meet all of your expectations and help you succeed on your blogging journey. So, for real, just drop us a line if there&#039;s _anything_ we can do to assist you along the way. Happy blogging! \"\n}\n</script>"
                                                        },
                                                        "related_posts": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 42349488,
                                                                        "default": 0
                                                                    },
                                                                    "title": {
                                                                        "type": "string",
                                                                        "example": "How to Add Categories to Your Blog"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "how-to-add-categories-to-your-blog"
                                                                    },
                                                                    "url": {
                                                                        "type": "string",
                                                                        "example": "https://dropindemo.com/blog/how-to-add-categories-to-your-blog"
                                                                    },
                                                                    "summary": {
                                                                        "type": "string",
                                                                        "example": "Categories are important for search engine optimization and for organizing your content around themes. Website visitors will have a much easier time navigating your site if it is well organized – and when visitors have an easier time, visitors are happy!"
                                                                    },
                                                                    "featuredImage": {
                                                                        "type": "string",
                                                                        "example": "https://dropinblog.net/34236460/files/featured/how-to-add-categories.png"
                                                                    },
                                                                    "featuredImageWebm": {},
                                                                    "featuredImageMp4": {},
                                                                    "publishedAt": {
                                                                        "type": "string",
                                                                        "example": "12/06/2021"
                                                                    },
                                                                    "publishedAtIso8601": {
                                                                        "type": "string",
                                                                        "example": "2021-12-06T15:57:00-06:00"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string",
                                                                        "example": "02/22/2024"
                                                                    },
                                                                    "updatedAtIso8601": {
                                                                        "type": "string",
                                                                        "example": "2024-02-22T18:52:10-06:00"
                                                                    },
                                                                    "keyword": {
                                                                        "type": "string",
                                                                        "example": "add categories to your blog"
                                                                    },
                                                                    "secondaryKeywords": {
                                                                        "type": "array"
                                                                    },
                                                                    "seoTitle": {
                                                                        "type": "string",
                                                                        "example": "How to Add Categories to Your Blog"
                                                                    },
                                                                    "seoDescription": {
                                                                        "type": "string",
                                                                        "example": "Help your website visitors find the info they're looking for and encourage them to keep browsing your site by learning how to add categories to your blog."
                                                                    },
                                                                    "canonicalUrl": {
                                                                        "type": "string",
                                                                        "example": ""
                                                                    },
                                                                    "pinned": {
                                                                        "type": "integer",
                                                                        "example": 0,
                                                                        "default": 0
                                                                    },
                                                                    "readtime": {
                                                                        "type": "string",
                                                                        "example": "2 minute read"
                                                                    },
                                                                    "seo_score": {
                                                                        "type": "integer",
                                                                        "example": 85,
                                                                        "default": 0
                                                                    },
                                                                    "status": {
                                                                        "type": "string",
                                                                        "example": "published"
                                                                    },
                                                                    "visibility": {
                                                                        "type": "string",
                                                                        "example": "public"
                                                                    },
                                                                    "noindex": {
                                                                        "type": "integer",
                                                                        "example": 0,
                                                                        "default": 0
                                                                    },
                                                                    "author": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "integer",
                                                                                "example": 219,
                                                                                "default": 0
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "example": "Jesse"
                                                                            },
                                                                            "slug": {
                                                                                "type": "string",
                                                                                "example": "jesse"
                                                                            },
                                                                            "photo": {
                                                                                "type": "string",
                                                                                "example": "https://dropinblog.net/34236460/authors/c321458d1a8f3afdff1944ceaa79be140f685ea8.jpg"
                                                                            },
                                                                            "bio": {
                                                                                "type": "string",
                                                                                "example": "<p><span style=\"font-size: 11pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-style: normal; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;\">DropInBlog co-founder Jesse is dedicated to making DropInBlog the world&rsquo;s go-to blogging platform. He helped create DiB because he was tired of dealing with complicated and incomplete blogging solutions. Jesse loves experimenting with new features and finding new ways to make <a href=\"https://dropinblog.com\">DropInBlog</a> even more awesome. </span></p>"
                                                                            }
                                                                        }
                                                                    },
                                                                    "categories": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "id": {
                                                                                    "type": "integer",
                                                                                    "example": 898924873,
                                                                                    "default": 0
                                                                                },
                                                                                "title": {
                                                                                    "type": "string",
                                                                                    "example": "Tips"
                                                                                },
                                                                                "slug": {
                                                                                    "type": "string",
                                                                                    "example": "tips"
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "x-readme": {
        "headers": [],
        "explorer-enabled": true,
        "proxy-enabled": false
    },
    "x-readme-fauxas": true
}