header {
    padding: 12pt;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 8px 12pt;
}

header > img {
    object-fit: cover;
    border-radius: 50%;
    max-width: 135px;
    max-height: 135px;
}

header h1, header h2 {
    margin: 0;
}

header a,
header span {
    display: table;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 8pt;
        margin: 5px;
    }

    header a,
    header span {
        display: block;
    }
}