a {
    color: var(--wa-color-text-link);
}

a:hover {
    color: var(--wa-color-brand-fill-loud);
}

a:active {
    color: var(--wa-color-brand-fill-loud);
}

a:focus {
    color: var(--wa-color-brand-fill-loud);
}

a.badge {
    text-decoration: none !important;
    display: block;
}