body {
    display: grid;
    margin: 8px;
    height: calc(100vh - 16px);
}
header {
    padding: 12pt;
    display: grid;
}
div[itemtype="https://schema.org/ContactPoint"] {
    display: inline-block;
    margin: 5px;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main > fluent-accordion {
    max-width: 500px;
    margin: 0 5px;
}
fluent-accordion fluent-accordion-item div.heading button.button {
    height: auto;
}
@media (min-width: 1280px) {
    /* landscape layout */
    body {
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr;
    }
    header {
        width: min-content;
        text-align: center;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
        gap: 0px 0px;
    }
}
@media (max-width: 1280px) {
    /* portrait layout */
    body {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content min-content min-content 1fr;
        grid-template-areas:
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "contact contact";
        gap: 0px 12pt;
    }
    header > span,header > a {
        display: block;
    }
    header > img {
        grid-area: headerImg;
    }
    section[itemptop="contactPoint"] {
        grid-area: contact;
    }
}