body {
    display: grid;
    margin: 8px;
    height: calc(100vh - 16px);
    max-width: 115em;
    margin-left: auto;
    margin-right: auto;
}
header {
    padding: 12pt;
    display: grid;
}
div[itemtype="https://schema.org/ContactPoint"] {
    display: inline-block;
    margin: 5px;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (min-width: 1280px) {
    /* landscape layout */
    body {
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr;
    }
    header {
        width: min-content;
        text-align: center;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
        gap: 0px 0px;
    }
}
@media (max-width: 1280px) {
    /* portrait layout */
    body {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }
    header {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content min-content min-content 1fr;
        grid-template-areas:
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "headerImg ."
            "contact contact";
        gap: 0px 12pt;
    }
    header > span,header > a {
        display: block;
    }
    header > img {
        grid-area: headerImg;
    }
    section[itemptop="contactPoint"] {
        grid-area: contact;
    }
}

header img[itemprop=image] {
    max-width: 256px;
    max-height: 256px;
    object-fit: cover;
    border-radius: 50%;
}

fluent-tab-panel div.podcasts-view {
    display: flex;
    flex-wrap: wrap;
}

fluent-tab-panel div.podcasts-view fast-card {
    max-width: 300px;
}

fluent-tab-panel div.podcasts-view fast-card div {
    padding: 0 10px 10px;
    color: var(--neutral-foreground-rest);
}

fluent-tab-panel div.podcasts-view fast-card div img {
    max-width: 256px;
}