body {
  display: flex;
  flex-direction: column;
}
body > div {
  max-width: 970px;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
main {
  overflow-y: clip;
  display: grid;
  grid-template-rows: min-content 1fr;
}
main > section {
  border: 1px solid #fff;
  padding: 0 5px;
}
section[itemprop="worksFor"] {
  overflow-y: auto;
}
section[itemprop="worksFor"] section {
  padding: 5px 10px;
  margin: 5px 0;
}
section[itemprop="worksFor"] section:nth-of-type(even) {
  background-color: #444;
}
section[itemprop="worksFor"] section:nth-of-type(odd) {
  background-color: #777;
}
section[itemprop="worksFor"] section div:nth-child(2) {
  font-style: italic;
}
[data-icon]::before {
  content: attr(data-icon);
  padding-right: 0.5em;
  font-style: normal;
}
a[href=""] {
  display: none;
}
footer {
  padding-bottom: 10px;
  text-align: center;
}
div[itemtype="https://schema.org/ContactPoint"] {
  display: inline-block;
  margin: 5px;
}
header {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 0px 0px;
  grid-template-areas:
    "name name"
    ". ."
    "contactPoint contactPoint";
}
section[itemprop=contactPoint] {
  grid-area: contactPoint;
}
header img {
  height: 100px;
  margin: 5px;
}
header h1[itemprop=name] {
  grid-area: name;
}